.post {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.title {
  color: #2b30a3;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
